* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	background-color: #282c34;
}

.container {
	max-width: 800px;
	background: #ffffff;
	border-radius: 4px;
	box-shadow: 0 0 20px 1px black;
	padding: 30px;
	margin: 90px auto;
	margin-bottom: 50px;
}
